name: update_db

on:
  schedule:
    - cron: "0 */4 * * 0" # every 4 hours on Sunday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9" # install the python version needed

      - name: install python packages
        run: |
          cd ./server
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script # run main.py
        env:
          MASTER_KEY: ${{ secrets.MASTER_KEY }}
          FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
        run: |
          cd ./server
          python main.py

      - name: commit files # commit the changes to the readme
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update database" -a || true

      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
